<!-- Footer partial -->
<div class="container-fluid callout_spacing">
    <div class="row">
        <div class="col-xs-12"></div>
    </div>
</div>

<div class="container-fluid footer_outer_section">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 footer_inner_section">

            <!-- small subscribe -->
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                <div class="subscribe_container_small">
                    <form>
                        <div class="footerlabel_container_small">
                            <label for="emailinput" class="textform_footer">Enter your email to be the first to know when a new bike hits the site.
                            <br>
                            Aqui hay mas texto.
                            </label>
                        </div>
                        <input type="text" id="emailinput" value="" name="EMAIL" class="emailform_footer" placeholder="Email Address">
                        <input type="submit" value="Guardar" name="subscribe" class="submit_footer">
                    </form>
                </div>
            </div>
            <!-- small social -->
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                <div class="socialfooter_container_small">
                    <a href="https://twitter.com/bajajmx" class="socialfooter_link"><i class="fa fa-twitter fa-2x"></i><p>Twitter</p></a>
                    <a href="" class="socialfooter_link facebook_link"><i class="fa fa-facebook fa-2x"></i><p>Facebook</p></a>
                </div>
            </div>

            <!-- First row of footer -->
            <div class="hidden-xs col-sm-12 footer_first">
                <div class="subscribe_container">
                    <form>
                        <div class="footerlabel_container">
                            <label for="emailinput" class="textform_footer">Enter your email to be the first to know when a new bike hits the site.
                            <br>
                            Aqui hay mas texto.
                            </label>
                        </div>
                        <input type="text" id="emailinput" value="" name="EMAIL" class="emailform_footer" placeholder="Email Address">
                        <input type="submit" value="Guardar" name="subscribe" class="submit_footer">
                    </form>
                </div>
                <div class="socialfooter_container">
                    <a href="https://twitter.com/bajajmx" class="socialfooter_link"><i class="fa fa-twitter fa-2x"></i><p>Twitter</p></a>
                    <a href="" class="socialfooter_link facebook_link"><i class="fa fa-facebook fa-2x"></i><p>Facebook</p></a>
                </div>
            </div>
    
            <!-- second row of footer -->
            <div class="hidden-xs col-sm-12 footer_second">
                <a href="" class="bottom-nav">HOME</a>
                <a href="" class="bottom-nav bottom-nav-inverse">MOTOS</a>
                <a href="" class="bottom-nav">AGENCIAS</a>
                <a href="" class="bottom-nav">NOTICIAS</a>
                <a href="" class="bottom-nav">CONTACTO</a>
            </div>        
            <!-- third row of footer -->
            <div class="col-xs-12 footer_third">
                <div class="creditos">
                    <p class="creditostext">Runners Motos 2015.</p>
                    <p class="creditostext">Sitio diseñado por Mario Díaz.</p>
                    <p class="creditostext">Contacto: mariodiar@gmail.com</p>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- <div class="social">
  <div class="col-xs-6 socialcenter">
    <p class="linkcalloutsmall margintop">Búscanos en el mapa:</p>
    <input type="button" class="btn btn-xtag btn-amarilloinv" value=<address onclick="codeAddress(this)"/>
  </div>
  <div class="col-xs-6 socialcenter">
    <p class="linkcalloutsmall margintop">!Conoce las Bajaj!</p>
    <a href="/motos" class="btn btn-xtag btn-amarilloinv"> motorcycle.model</a>
  </div>
</div>

<div id="map">
  
</div>