<!-- Footer partial -->
<div class="container-fluid footer_outer_section">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 footer_inner_section">
            <!-- First row of footer -->
            <div class="col-xs-12 inline-test">
                <div class="bottom-nav">
                </div>
                <div class="bottom-nav">
                </div>
                <div class="bottom-nav">
                </div>
                <div class="bottom-nav">
                </div>
                <div class="bottom-nav">
                </div>

                    <!-- <div class="col-xs-4 foot_element_container">
                        <ul>
                            <li>
                                <button class="btn btn-info botonprueba">
                                    <h2>PRUEBA</h2>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-4 foot_element_container">
                        <ul>
                            <li>
                                <button class="btn btn-info botonprueba">
                                    <h2>PRUEBA DOS</h2>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-4 foot_element_container">
                        <ul>
                            <li>
                                <button class="btn btn-info botonprueba">
                                    <h2>PRUEBA TRES</h2>
                                </button>
                            </li>
                        </ul>
                    </div> -->
            </div>
            <!-- second row of footer -->
            <div class="col-xs-12">
                
            </div>
            <!-- third row of footer -->
            <div class="col-xs-12">
                
            </div>

        </div>
    </div>
</div>

<!-- <div class="social">
  <div class="col-xs-6 socialcenter">
    <p class="linkcalloutsmall margintop">Búscanos en el mapa:</p>
    <input type="button" class="btn btn-xtag btn-amarilloinv" value=<address onclick="codeAddress(this)"/>
  </div>
  <div class="col-xs-6 socialcenter">
    <p class="linkcalloutsmall margintop">!Conoce las Bajaj!</p>
    <a href="/motos" class="btn btn-xtag btn-amarilloinv"> motorcycle.model</a>
  </div>
</div>

<div id="map">
  
</div>