<!-- Navigation partial -->
<nav class="navbar navbar-bajaj navbar-fixed-top" role="navigation">

    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="/"><%= image_tag("bajajlogochico.png")%></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a class="page-scroll" href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="/">Home</a>
        </li>
        <li>
          <a class="page-scroll" href="/motos">Motocicletas</a>
        </li>
        <li>
          <a class="page-scroll" href="/agencias">Agencias</a>
        </li>
        <li>
          <a id="lastlink" class="page-scroll" href="/contacto">Contáctanos</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  <!-- /.container -->
</nav>

