<!-- Contact page -->
<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">

			<h2>Mándanos un mensaje.</h2>
				<%= render "contacts/form"%>
				<p class="white be-blue text-center"><%= notice %></p>
		</div>
		<div class="col-xs-2"></div>
	</div>
</div>

<%= render "partials/footer"%>