<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">

			<h2>Gracias por suscribirte a nuestra Lista.</h2>
			<h4>Te mandaremos un mail cada que tengamos una promocion o noticia importante.</h4>

		</div>
	</div>
</div>