<div class="preloader_container"></div>
<!-- SLIDER -->
<section class="cd-hero">
    <ul class="cd-hero-slider autoplay">

        <li class="selected">
            <div class="cd-full-width">
            </div> <!-- .cd-full-width -->
        </li>

        <li>
            <div class="cd-full-width">
            </div> <!-- .cd-full-width -->
        </li>

        <li>
            <div class="cd-full-width">
            </div> <!-- .cd-full-width -->
        </li>

        <!-- <li class="cd-bg-video">
            <div class="cd-full-width">
                <h2>Slide title here</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, explicabo.</p>
                <a href="#0" class="cd-btn">Learn more</a>
            </div> .cd-full-width

            <div class="cd-bg-video-wrapper" data-video="assets/video/video">
            </div> .cd-bg-video-wrapper
        </li> -->

        <li>
            <div class="cd-full-width">
         <!--        <h2>Slide title here</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, explicabo.</p>
                <a href="#0" class="cd-btn">Start</a>
                <a href="#0" class="cd-btn secondary">Learn More</a> -->
            </div> <!-- .cd-full-width -->
        </li>
    </ul> <!-- .cd-hero-slider -->

    <div class="cd-slider-nav">
        <nav>

            <ul>
                <li class="selected slider_numbers"><a href="#0">.</a></li>
                <li class="slider_numbers"><a href="#0">.</a></li>
                <li class="slider_numbers"><a href="#0">.</a></li>
                <li class="slider_numbers"><a href="#0">.</a></li>
            </ul>
        </nav> 
    </div> <!-- .cd-slider-nav -->
</section> <!-- .cd-hero -->

<!-- VIDEO FANCYBOX CALLOUT -->
<div class="container-fluid callout_two">
    <a class="videobox fancybox.iframe" href="http://www.youtube.com/embed/4ZSY9sU5mSU?autoplay=1">
        <div class="row">
            <div class="col-xs-12">
                <div class="video_mask">
                    <h3>Conoce Bajaj! Ve el video.</h3>
                </div>
                <img class="img_videocallout">
                <div class="video_player">
                    <div class="video_icon">
                        <i class="fa fa-play fa-2x video_icon_style"></i>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>

<!-- NEWS CALLOUT -->

<div class="container-fluid callout_section callout_one">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 callout_wrap">
            <a id="calloutlink" href="">
                <div class="callout_container">

                    <div class="col-xs-5 no-padding calloutimg_wrap">
                        <div class="textoimgcallout_container">
                            <h3>Clickea para conocer más </h3>
                        </div>
                        <div class="calloutimg_container">
                        </div>
                    </div>

                    <div class="col-xs-7 text-center">
                        <div class="calloutdata_container">
                            <h3 class="modelo_moto white-color">Totalmente NUEVA Bajaj 150</h3>
                            <p class="resumen_moto white-color">Esta es una descripcion corta de la motocicleta. Aqui se pondra de lo que trata la noticia para llamar la atencion del usuario.</p>
                        </div>
                    </div>

                </div>
            </a>
        </div>
    </div>
</div>

<!-- TECHNOLOGY CALLOUT -->

<div class="container-fluid callout_three">
    <div class="row">
        <div class="col-xs-12">
            <img class="img_tecnologia">
        </div>
    </div>
</div>

<div class="container-fluid callout_spacing">
    <div class="row">
        <div class="col-xs-12"></div>
    </div>
</div>

<!-- <div class="container-fluid callout_section callout_one">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 callout_wrap">
            <a id="calloutlink" href="">
                <div class="callout_container">

                    <div class="col-xs-3 no-padding">
                        <div class="textoimgcallout_container">
                            <h3>Clickea para conocer más </h3>
                        </div>
                        <div class="calloutimg_container" style="background:black;">
                        </div>
                    </div>

                    <div class="col-xs-9 text-center">
                        <div class="calloutdata_container">
                            <h3 class="modelo_moto">Bajaj 150</h3>
                            <p class="resumen_moto">Esta es una descripcion corta de la motocicleta.</p>
                        </div>
                    </div>

                </div>
            </a>
        </div>
    </div>
</div> -->


<!-- <div class="container">
  <div class="iconcontainer">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="iconbox">
          <div class="iconbox-icon">
            <span class="glyphicon glyphicon-book"></span>
          </div>
          <div class="featureinfo">
            <h4 class="text-center">Garantía</h4>
            <p>
              Todas nuestras motocicletas cuentan con un año de garantía. Puedes contar con que tu Bajaj es una moto de calidad. Bajaj es una compañia asociada con KTM y Kawasaki, las motos bajaj están creadas con tecnología e ingeniería de primera.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="iconbox">
          <div class="iconbox-icon">
            <span class="glyphicon glyphicon-tasks"></span>
          </div>
          <div class="featureinfo">
            <h4 class="text-center">Refacciones</h4>
            <p>
              Tenemos cientos de refacciones en inventario para tu Bajaj. Cada una de nuestras sucursales cuenta con taller certificado por Bajaj, donde nuestros mecánicos se encargarán de dejar tu Bajaj como nueva. Además te ofrecemes un año de servicios gratis para tu Bajaj.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <section>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
        <div class="noticia_callout_container">

        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="motos_callout_container">

        </div>
    </div>
</div>
</section>

<section id="about">
    <div class="callout">
        <div class=" callouttext col-md-4 col-md-offset-1 text-center">
            <h2>Pulsar NS 200 a sólo <span class="textazul">36,999</span></h2>
            <h4>200cc | 44 kilómetros por litro | Tablero Digitál</h4>
            <a href="/contacto" class="linkcallout btn btn-lg btn-amarillo">Contáctanos</a>
        </div>
    </div>
</section> -->

<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="noticia_callout_container">

            </div>
        </div>
        <div class="hidden-xs col-md-3">

        </div>
    </div>
</div> -->

<%= render "partials/footer"%>