<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-3 left_header">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-3 right_content">
            <% @motorcycles.each do |moto|%>
            <a id="motolink" href="<%=moto_path(moto)%>">
                <div class="list-motos">
                    <div class="col-xs-5 text-center">
                        <div class="motodata_container">
                            <h3 class="modelo_moto"><%=moto.model%></h3>
                            <p class="resumen_moto"><%=moto.descriptionshort%></p>
                            
                        </div>
                    </div>
                    <div class="col-xs-7 no-padding">
                        <div class="textofotomoto_container">
                            <h3>Clickea para conocer más</h3>
                        </div>
                        <div class="motoimg_container" style="background:url(<%= moto.image.url() %>);">
                        </div>
                    </div>
                </div>
            </a>
            <%end%>
        </div>
    </div>
</div>
