<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-3 left_header">
		</div>
		<div class="col-xs-12 col-sm-9 col-sm-offset-3 right_content">
			<a href="motos">
				<div class="list">
					<div class="col-sm-3 hidden-xs text-center">
						<div class="thumbnail_container">
							<%= image_tag("bajajLogoCuadrado.jpg")%>
						</div>
					</div>
					<div class="col-xs-12 col-sm-9 resumen_articulo">
						<h3 class="titulo_articulo">Prueba de titulo</h3>
						<p class="resumen_articulo">Este es un resumen del articulo, aqui se pone lo que crees que llevara el articulo, de esta manera el lector se da una idea de que es lo que tratara el articulo.</p>
					</div>
				</div>
			</a>

			<a href="motos">
				<div class="list">
					<div class="col-sm-3 hidden-xs text-center">
						<div class="thumbnail_container">
							<%= image_tag("bajajLogoCuadrado.jpg")%>
						</div>
					</div>
					<div class="col-xs-12 col-sm-9 resumen_articulo">
						<h3 class="titulo_articulo">Prueba de titulo</h3>
						<p class="resumen_articulo">Este es un resumen del articulo, aqui se pone lo que crees que llevara el articulo, de esta manera el lector se da una idea de que es lo que tratara el articulo.</p>
					</div>
				</div>
			</a>

			<a href="motos">
				<div class="list">
					<div class="col-sm-3 hidden-xs text-center">
						<div class="thumbnail_container">
							<%= image_tag("bajajLogoCuadrado.jpg")%>
						</div>
					</div>
					<div class="col-xs-12 col-sm-9 resumen_articulo">
						<h3 class="titulo_articulo">Prueba de titulo</h3>
						<p class="resumen_articulo">Este es un resumen del articulo, aqui se pone lo que crees que llevara el articulo, de esta manera el lector se da una idea de que es lo que tratara el articulo.</p>
					</div>
				</div>
			</a>

			<a href="motos">
				<div class="list">
					<div class="col-sm-3 hidden-xs text-center">
						<div class="thumbnail_container">
							<%= image_tag("bajajLogoCuadrado.jpg")%>
						</div>
					</div>
					<div class="col-xs-12 col-sm-9 resumen_articulo">
						<h3 class="titulo_articulo">Prueba de titulo</h3>
						<p class="resumen_articulo">Este es un resumen del articulo, aqui se pone lo que crees que llevara el articulo, de esta manera el lector se da una idea de que es lo que tratara el articulo.</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>