<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-3 left_header">
		</div>
		<div class="col-xs-12 col-sm-9 col-sm-offset-3 right_content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-8 col-xs-offset-2">
						<div class="articulo">
							<h3 class="titulo_articulo font_titulo font_grande"><%=@noticia.title%></h3>
							<hr>
							<div class="cuerpo_noticia">
								<%= Sanitize.fragment(@noticia.body, Sanitize::Config::RELAXED).html_safe %>
							</div>
						</div>				
					</div>
					<div class="col-xs-2">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>