/*GLOBAL*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

/*FONTS*/

@font-face {
  font-family: 'Franklin Gothic';
  font-style: normal;
  font-weight: normal;
  src: local('Franklin Gothic Demi Cond'), url('Franklin Gothic Demi Cond Regular.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue LT Std 45 Light'), url('HelveticaNeueLTStd Lt.woff') format('woff');
}

/*TESTING TESTING*/
.footer_inner_section {
  font-size: 0;
  padding-bottom: 3%;
}
a {
  margin: 0;
  padding: 0;
}
.botonprueba {
  background-color: black;
  opacity: .5;
  width: 300px;
}
.footer_second {
  display: block;
  padding: 0;
  font-size: 0;
}
.bottom-nav {
  color: black;
  font-size: 40px;
  width: 20%;
  height: 70px;
  background-color: #f6f6f6;
  display: inline-block;
  text-align: center;
  vertical-align: baseline;
  line-height: 74px;
  text-decoration: none;
  letter-spacing: -6px;
  -webkit-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  -ms-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}

.bottom-nav:hover {
  background-color: transparent;
  color: #f6f6f6;
  text-decoration: none;
}


.bottom-nav-inverse {
  color: white !important;
  background-color: transparent;
}

.footer_first {
  padding: 3% 0 0 4%;
  position: relative;
  margin-right: 3%;
  margin-bottom: 3%;
}

.subscribe_container {
  float: left;
  width: 49%;
  text-align: left;
}

.socialfooter_container {
  position: absolute;
  display: block;
  float: left;
  width: 49%;
  bottom: 0;
  right: 0;
}

.socialfooter_link1 {
  width: 40%;
  display: inline-block;
  padding: 16px;
  font-size: 17px;
  color: white !important;
  background-color: rgba(0,0,0,1);
}

.socialfooter_link2 {
  width: 40%;
  margin-left: 10%;
  display: inline-block;
  padding: 16px;
  font-size: 17px;
  color: white !important;
  background-color: rgba(0,0,0,1);
}

.textform_footer {
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
  display: block;
  cursor: pointer;
}

.footerlabel_container {
  background-color: rgba(0,0,0,0.5);
  width: 63%;
}

.emailform_footer {
  border-style: none;
  outline: none;
  width: 63%;
  display: inline-block;
  padding: 16px;
  font-size: 17px;
}

.submit_footer {
  background-color: black;
  color: white;
  opacity: .8;
  border-style: none;
  outline: none;
  display: inline-block;
  padding: 16px;
  text-align: center;
  font-size: 17px;
}

.creditos {
  margin-top: 27px;
  margin-right: auto;
  margin-left: auto;
  text-align: right;
}

.creditostext {
  color: white;
}


/*TESTING TESTING*/

.font_grande {
  font-size: 72px !important;
}

.font_mediana {
  font-size: 30px;
}

/*GENERAL*/
html,body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f4;
    padding-top: 25px;
}

ul {
  list-style-type: none;
}

#map {
  width: 100%;
  height: 350px;
}

hr { 
  display: block; height: 1px;
  border: 0; border-top: 1px solid #12539f;
  margin: 1em 0; padding: 0; 
}

.centered {
  float: none;
  display: block;
  margin: 0 auto;
}

.btn-product{
  width: 100%;
}

/*ADMIN CSS*/

.be-yellow {
  background-color: #FCD68A !important;
}

.yellow {
  color: #FCD68A !important;
}
.white {
  color: white;
}

.gray {
  color: #3B3B3B !important;
}

.large-padding {
  padding: 25px 7px;
}
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center;
}

.form-custom {
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;
}

.btnadmin {
  background-color: inherit;
  margin-top: 8px;
  border:none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 12px;
  font-size: 1.2em;
}

.texto-med {
  font-size: 1.3em;
}

.btnmoto {
  background-color: inherit;
  margin-top: 0px;
  border:none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 12px;
  font-size: .85em;
}

.field,.top-space,.actions  {
  margin-top: 1em;
}

a,a:visited{
  color: inherit;
  text-decoration: none;
}

/*MOTOS*/
.containermotos {
  margin-top: 10px;
}

.text-right {
  text-align: right;
}

.boxtexto {
  width: 300px;
}

.boxmoto {
  height: 410px;
  width: 350px;
  background: #3B3B3B;
  background-color: #3B3B3B;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding: 20px 25px;
  text-align: right;
  display: block;
  margin-top: 14px;
  margin-bottom: 7px;
}

/*NAVBAR BAJAJ*/

.navbar-bajaj {
  background-color: #f6f6f6;
  border-bottom:solid 1px;
  border-color: #12539f;
  margin-bottom: none;
}
.navbar-bajaj .navbar-brand {
  position: relative;
  color: #777;
  margin-top: -15px;
  margin-left: 50px;
}
.navbar-bajaj .navbar-brand:hover,
.navbar-bajaj .navbar-brand:focus {
  color: #191919;
  background-color: transparent;
}
.navbar-bajaj .navbar-text {
  color: #777;
}

.navbar-bajaj .navbar-nav > li {
  border-left: solid 1px;
  border-color: #12539f; 
}

#lastlink {
  color: white !important;
  margin-right: 15px;
  background-color: #12539f;
}

.navbar-bajaj .navbar-nav > li > a {
  color: #3B3B3B;
}
.navbar-bajaj .navbar-nav > li > a:hover,
.navbar-bajaj .navbar-nav > li > a:focus {
  color: #0A51A1;
  background-color: transparent;
}
.navbar-bajaj .navbar-nav > .active > a,
.navbar-bajaj .navbar-nav > .active > a:hover,
.navbar-bajaj .navbar-nav > .active > a:focus {
  color: #191919;
  background-color: #080808;
}
.navbar-bajaj .navbar-nav > .disabled > a,
.navbar-bajaj .navbar-nav > .disabled > a:hover,
.navbar-bajaj .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-bajaj .navbar-toggle {
  border-color: #333;
}
.navbar-bajaj .navbar-toggle:hover,
.navbar-bajaj .navbar-toggle:focus {
  background-color: #333;
}
.navbar-bajaj .navbar-toggle .icon-bar {
  background-color: #2567B2;
}
.navbar-bajaj .navbar-collapse,
.navbar-bajaj .navbar-form {
  border-color: #101010;
}
.navbar-bajaj .navbar-nav > .open > a,
.navbar-bajaj .navbar-nav > .open > a:hover,
.navbar-bajaj .navbar-nav > .open > a:focus {
  color: white;
  background-color: #080808;
}
@media (max-width: 767px) {
  .navbar-bajaj .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-bajaj .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-bajaj .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-bajaj .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-bajaj .navbar-nav .open .dropdown-menu > li > a:focus {
    color: white;
    background-color: transparent;
  }
  .navbar-bajaj .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-bajaj .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-bajaj .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: white;
    background-color: #080808;
  }
  .navbar-bajaj .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-bajaj .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-bajaj .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-bajaj .navbar-link {
  color: #777;
}
.navbar-bajaj .navbar-link:hover {
  color: white;
}
.navbar-bajaj .btn-link {
  color: #777;
}
.navbar-bajaj .btn-link:hover,
.navbar-bajaj .btn-link:focus {
  color: #191919;
}
.navbar-bajaj .btn-link[disabled]:hover,
fieldset[disabled] .navbar-bajaj .btn-link:hover,
.navbar-bajaj .btn-link[disabled]:focus,
fieldset[disabled] .navbar-bajaj .btn-link:focus {
  color: #444;
}

/*NOTICIAS Y MOTOS INDEX PAGE*/
.noticia_callout_container {
  height: 300px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;

}

.motos_callout_container {
  height: 300px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

/*SECTIONS*/
.footer {
    height: 300px;
    overflow: auto;
    padding-top: 0px; 
    text-align: center;
    background: #f4f4f4;
}

.socialcenter {
  text-align: center;
}

.center {
  text-align: center;
}

.no-padding {
  padding: 0px;
}

.social {
    height: auto;
    overflow: auto;
    /*padding-top: 0px;*/
    background: #3B3B3B;
}

.socialicons > a {
  color: #0A51A1;
  font-size: 1em;
}

/*LEFT HEADER*/

.left_header {
  padding: 0px;
  color: #fff;
  background: image-url(ns200grayvertical);
  height: 100px;
  position: relative;
}

.left_header:hover {
  opacity: 0.9;
}

@media (min-width: 768px) {
  .left_header {
    height: 100%;
    position: fixed;
  }
}

/*THUMBNAILS IMAGES*/

.thumbnail_container {
  width: 130px;
  height: 130px;
  margin-left: 15px;
  margin-top: 33px;
  overflow: hidden;
/*  border-color: #12539f;
  border-style: solid;
  border-width: 2px;*/
  -webkit-border-radius:50%;
}

.thumbnail_container >img {
  height: 150px;
  width: 150px;
}

.motoimg_container {
  background-position: center top;
  height: 250px;
  width: 100%;
  display: table;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  
.textofotomoto_container {
  position: absolute;
  height: 250px;
  width: 100%;
  display: table;
}

.textofotomoto_container >h3{
  font-family: 'Franklin Gothic';
  font-size: 40px;
  margin: 0px !important;
  color: #12539f;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  visibility: hidden;
}

#motolink:hover .motoimg_container {
  opacity: .1;
}

#motolink:hover .textofotomoto_container >h3 {
  visibility: visible;
}

/*@media(min-width: 768px) {
  .thumbnail_container {
    margin-left: 40px;
  }
}
*/
@media (min-width: 979px) {
  .thumbnail_container {
    margin-left: 50px;
  }
}

/*LISTS*/

.right_content {
  padding: 0px;
}

.right_content >a {
  color: inherit;
}

.list {
  background: #f6f6f6;
  height: 200px;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-color: #e5e5e5;
  border-bottom-style: solid;
}

.motodata_container {
  padding: 10px;
}

.list-motos {
  background: #f6f6f6;
  height: 250px;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e5e5e5;
}

.datos_moto {
  height: 100px;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-color: #e5e5e5;
  border-bottom-style: solid;
}

.list >a {
  padding: 100px;
}

.list:hover {
  background: white;
}

/*FOOTER SECTION*/
.footer_outer_section {
  height: 400px;
  background-color: #f6f6f6;
}

.footer_inner_section {
  padding: 0;
  height: 400px;
  background: image-url(tresPulsars) no-repeat center bottom; 
}
.foot_element_container {

}

/*CALLOUT PAGINA PRINCIPAL*/
.callout_section {
  height: 310px;
}

.callout_one {
  background-color: #3B3B3B;
}

.callout_two {
  background-color: #f6f6f6;
}

.callout_wrap {
  padding: 0px;
  margin-bottom: 10px;
}

.callout_wrap >a {
  color: inherit;
}

.callout_container {
  background: yellow;
  height: 250px;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e5e5e5;
  margin-top: 30px;
}

.callout_container_two {
  background: #f6f6f6;
  height: 250px;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e5e5e5;
}

.calloutdata_container {
  padding: 10px;
}

.textoimgcallout_container {
  position: absolute;
  height: 250px;
  width: 100%;
  display: table;
}

.textoimgcallout_container >h3{
  font-family: 'Franklin Gothic';
  font-size: 40px;
  margin: 0px !important;
  color: #12539f;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  visibility: hidden;
}

#calloutlink:hover .calloutimg_container {
  opacity: .1;
}

#calloutlink:hover .textoimgcallout_container >h3 {
  visibility: visible;
}

.calloutimg_container {
  background-position: center top;
  height: 250px;
  width: 100%;
  display: table;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*NOTICIA Y ARTICULO y LISTA MOTOS*/

.titulo_articulo {
  margin-top: 20px;
  position: relative;
  font-family: 'Franklin Gothic';
  font-size: 40px;
}

.resumen_articulo {
  position: relative;
  margin-top: 20px;
  font-family: 'Helvetica Neue';
  font-size: 20px;
}

.modelo_moto {
  font-family: 'Franklin Gothic';
  font-size: 60px;
  margin-top: 20px;
  position: relative;
}

.resumen_moto {
  margin-top: 20px;
  position: relative;
  font-family: 'Helvetica Neue';
  font-size: 24px;
}

.cuerpo_noticia >p {
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: 'Helvetica Neue';
  font-size: 18px;
}

.cuerpo_noticia >h1 {
  font-family: 'Franklin Gothic';
  font-size: 36px;
}

.cuerpo_noticia >img {
  max-width: 550px;
  margin-top: 20px;
}



/*CALLOUT VIEJO*/
.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: image-url(pulsarnsAmarilla) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callouttext h2 {
  margin-top: 120px;
}
.linkcallout {
  color: #f4f4f4;
  font-size: 22px;
}

.linkcalloutsmall {
  color: #f4f4f4;
  font-size: 18px;
}

.lineaamarilla {
  color: yellow;
}

.margintop {
  margin-top: 5px;
}

.margintop-large {
  margin-top: 15px;
}
.textazul {
  color: #FCD68A !important;
}

.textobold {
  font-weight: bold;
}

/*BOTON CHICO*/
.btn-xtag {
  padding: 7px 14px;
  font-size: 12px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-top: 8px;
}

/*BOTON AMARILLO INVERSE*/
.btn-amarilloinv {
  color: #FCD68A !important;
  background-color: #3B3B3B !important;
  border-color: #3B3B3B !important;
  border-radius: 0;
}
.btn-amarilloinv:hover,
.btn-amarilloinv:focus,
.btn-amarilloinv:active,
.btn-amarilloinv.active,
.open .dropdown-toggle.btn-amarilloinv {
  color: #3B3B3B !important;
  background-color: #FCD68A !important;
  border-color: #FCD68A !important;
}

/*BOTON AMARILLO*/
.btn-amarillo {
  color: #3B3B3B !important;
  background-color: #FCD68A !important;
  border-color: #FCD68A !important;
  border-radius: 0;
}
.btn-amarillo:hover,
.btn-amarillo:focus,
.btn-amarillo:active,
.btn-amarillo.active,
.open .dropdown-toggle.btn-amarillo {
  color: #FCD68A !important;
  background-color: #3B3B3B !important;
  border-color: #3B3B3B !important;
}
.btn-amarillo:active,
.btn-amarillo.active,
.open .dropdown-toggle.btn-amarillo {
  background-image: none;
}
.btn-amarillo.disabled,
.btn-amarillo[disabled],
fieldset[disabled] .btn-amarillo,
.btn-amarillo.disabled:hover,
.btn-amarillo[disabled]:hover,
fieldset[disabled] .btn-amarillo:hover,
.btn-amarillo.disabled:focus,
.btn-amarillo[disabled]:focus,
fieldset[disabled] .btn-amarillo:focus,
.btn-amarillo.disabled:active,
.btn-amarillo[disabled]:active,
fieldset[disabled] .btn-amarillo:active,
.btn-amarillo.disabled.active,
.btn-amarillo[disabled].active,
fieldset[disabled] .btn-amarillo.active {
  background-color: #ff0000;
  border-color: #008000;
}
.btn-amarillo .badge {
  color: #ff0000;
  background-color: #0000ff;
}


/*INFO*/

.iconbox {
  background: #ffffff;
  background-color: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding: 20px 25px;
  text-align: right;
  display: block;
  margin-top: 60px;
  margin-bottom: 15px;
}
.iconbox-icon {
  background-color: #FCD68A;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  margin-top: -70px;
}
.iconbox-icon span {
  color: #3B3B3B;
  font-size: 42px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 29px;
  text-align: center;
  vertical-align: middle;
}
.featureinfo h4 {
  font-size: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.featureinfo > p {
  color: #000000;
  font-size: 16px;
  padding-top: 4px;
  text-align: left;
}
.btn-default {
  text-shadow: 0px 1px 0px #FFF;
  background-image: linear-gradient(to bottom, #FFF 0px, #E0E0E0 100%);
  background-repeat: repeat-x;
  border-color: #CCC;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-default:hover,
.btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px
}



/*MENU ADMIN*/
h1.page-header {
    margin-top: -5px;
}


.main-container { 
  background: #FFF;
  padding-top: 15px;
  margin-top: -20px;
}

:focus {
  outline: none;
}

/*SIDEBAR*/
/* remove outer padding */
  .main .row{
    padding: 0px;
    margin: 0px;
  }

  /*Remove rounded coners*/

  nav.sidebar.navbar {
    border-radius: 0px;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  /* Add gap to nav and right windows.*/
  .main{
    padding: 10px 10px 0 10px;
  }

  /* .....NavBar: Icon only with coloring/layout.....*/

  /*small/medium side display*/
  @media (min-width: 768px) {

    /*Allow main to be next to Nav*/
    .main{
      position: absolute;
      width: calc(100% - 40px); /*keeps 100% minus nav size*/
      margin-left: 40px;
      float: right;
    }

    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    /*Center Brand*/
    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }

    /*Center Icons*/
    nav.sidebar a{
      padding-right: 13px;
    }

    /*adds border top to first nav box */
    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    /*gives sidebar width/height*/
    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      z-index: 8000;
      margin-bottom: 0px;
    }

    /*give sidebar 100% width;*/
    nav.sidebar li {
      width: 100%;
    }

    /* Move nav to full on mouse over*/
    nav.sidebar:hover{
      margin-left: 0px;
    }
    /*for hiden things when navbar hidden*/
    .forAnimate{
      opacity: 0;
    }
  }

  /* .....NavBar: Fully showing nav bar..... */

  @media (min-width: 1330px) {

    /*Allow main to be next to Nav*/
    .main{
      width: calc(100% - 200px); /*keeps 100% minus nav size*/
      margin-left: 200px;
    }

    /*Show all nav*/
    nav.sidebar{
      margin-left: 0px;
      float: left;
    }
    /*Show hidden items on nav*/
    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }

/*Responsive image*/

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

.section-white {
   padding: 10px 0;
}

.section-white {
  background-color: #fff;
  color: #555;
}

@media screen and (min-width: 768px) {

  .section-white {
     padding: 1.5em 0;
  }

}

@media screen and (min-width: 992px) {

  .container {
    max-width: 930px;
  }

}

/* -------------------------------- 

Slider

-------------------------------- */
.cd-hero {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-hero ul {
  margin-bottom: 0px;
}

.cd-hero-slider {
  position: relative;
  height: 360px;
  overflow: hidden;
}
.cd-hero-slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.cd-hero-slider li.selected {
  /* this is the visible slide */
  position: relative;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-hero-slider li.move-left {
  /* slide hidden on the left */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.cd-hero-slider li.is-moving, .cd-hero-slider li.selected {
  /* the is-moving class is assigned to the slide which is moving outside the viewport */
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}
@media only screen and (min-width: 768px) {
  .cd-hero-slider {
    height: 500px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-hero-slider {
    height: 530px;
  } 
  .cd-hero-slider li {
    background-position: center top !important;
  }
}

/* -------------------------------- 

Single slide style

-------------------------------- */
.cd-hero-slider {
  padding: 0px;
}

.cd-hero-slider li {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cd-hero-slider li:first-of-type {
  background-color: #2c343b;
  background-image: url(bajajRS);
}
.cd-hero-slider li:nth-of-type(2) {
  background-color: #3d4952;
  background-image: url(bajajRS);
}
.cd-hero-slider li:nth-of-type(3) {
  background-color: #586775;
  background-image: url(bajajRS);
}
.cd-hero-slider li:nth-of-type(4) {
  background-color: #2c343b;
  background-image: url(bajajRS);
}

.cd-hero-slider .cd-full-width,
.cd-hero-slider .cd-half-width {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  /* this padding is used to align the text */
  padding-top: 100px;
  text-align: center;
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-hero-slider .cd-img-container {
  /* hide image on mobile device */
  display: none;
}
.cd-hero-slider .cd-img-container img {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.cd-hero-slider .cd-bg-video-wrapper {
  /* hide video on mobile device */
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cd-hero-slider .cd-bg-video-wrapper video {
  /* you won't see this element in the html, but it will be injected using js */
  display: block;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  height: auto;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.cd-hero-slider h2, .cd-hero-slider p {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  line-height: 1.2;
  margin: 0 auto 14px;
  color: #ffffff;
  width: 90%;
  max-width: 400px;
}
.cd-hero-slider h2 {
  font-size: 2.4rem;
}
.cd-hero-slider p {
  font-size: 1.4rem;
  line-height: 1.4;
}
.cd-hero-slider .cd-btn {
  display: inline-block;
  padding: 1.2em 1.4em;
  margin-top: .8em;
  background-color: rgba(212, 68, 87, 0.9);
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-hero-slider .cd-btn.secondary {
  background-color: rgba(22, 26, 30, 0.8);
}
.cd-hero-slider .cd-btn:nth-of-type(2) {
  margin-left: 1em;
}
.no-touch .cd-hero-slider .cd-btn:hover {
  background-color: #d44457;
}
.no-touch .cd-hero-slider .cd-btn.secondary:hover {
  background-color: #161a1e;
}
@media only screen and (min-width: 768px) {
  .cd-hero-slider .cd-full-width,
  .cd-hero-slider .cd-half-width {
    padding-top: 150px;
  }
  .cd-hero-slider .cd-bg-video-wrapper {
    display: block;
  }
  .cd-hero-slider .cd-half-width {
    width: 45%;
  }
  .cd-hero-slider .cd-half-width:first-of-type {
    left: 5%;
  }
  .cd-hero-slider .cd-half-width:nth-of-type(2) {
    right: 5%;
    left: auto;
  }
  .cd-hero-slider .cd-img-container {
    display: block;
  }
  .cd-hero-slider h2, .cd-hero-slider p {
    max-width: 520px;
  }
  .cd-hero-slider h2 {
    font-size: 2.4em;
    font-weight: 300;
  }
  .cd-hero-slider .cd-btn {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-hero-slider .cd-full-width,
  .cd-hero-slider .cd-half-width {
    padding-top: 180px;
  }
  .cd-hero-slider h2, .cd-hero-slider p {
    margin-bottom: 20px;
  }
  .cd-hero-slider h2 {
    font-size: 3.2em;
  }
  .cd-hero-slider p {
    font-size: 1.6rem;
  }
}

/* -------------------------------- 

Single slide animation

-------------------------------- */
@media only screen and (min-width: 768px) {
  .cd-hero-slider .cd-half-width {
    opacity: 0;
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
    transform: translateX(40px);
  }
  .cd-hero-slider .move-left .cd-half-width {
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  .cd-hero-slider .selected .cd-half-width {
    /* this is the visible slide */
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-hero-slider .is-moving .cd-half-width {
    /* this is the slide moving outside the viewport 
    wait for the end of the transition on the <li> parent before set opacity to 0 and translate to 40px/-40px */
    -webkit-transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
    -moz-transition: opacity 0s 0.5s, -moz-transform 0s 0.5s;
    transition: opacity 0s 0.5s, transform 0s 0.5s;
  }
  .cd-hero-slider li.selected.from-left .cd-half-width:nth-of-type(2),
  .cd-hero-slider li.selected.from-right .cd-half-width:first-of-type {
    /* this is the selected slide - different animation if it's entering from left or right */
    -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
    -moz-transition: opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s;
    transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
  }
  .cd-hero-slider li.selected.from-left .cd-half-width:first-of-type,
  .cd-hero-slider li.selected.from-right .cd-half-width:nth-of-type(2) {
    /* this is the selected slide - different animation if it's entering from left or right */
    -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s;
    -moz-transition: opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s;
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s;
  }
  .cd-hero-slider .cd-full-width h2,
  .cd-hero-slider .cd-full-width p,
  .cd-hero-slider .cd-full-width .cd-btn {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  .cd-hero-slider .move-left .cd-full-width h2,
  .cd-hero-slider .move-left .cd-full-width p,
  .cd-hero-slider .move-left .cd-full-width .cd-btn {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  .cd-hero-slider .selected .cd-full-width h2,
  .cd-hero-slider .selected .cd-full-width p,
  .cd-hero-slider .selected .cd-full-width .cd-btn {
    /* this is the visible slide */
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-hero-slider li.is-moving .cd-full-width h2,
  .cd-hero-slider li.is-moving .cd-full-width p,
  .cd-hero-slider li.is-moving .cd-full-width .cd-btn {
    /* this is the slide moving outside the viewport 
    wait for the end of the transition on the li parent before set opacity to 0 and translate to 100px/-100px */
    -webkit-transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
    -moz-transition: opacity 0s 0.5s, -moz-transform 0s 0.5s;
    transition: opacity 0s 0.5s, transform 0s 0.5s;
  }
  .cd-hero-slider li.selected h2 {
    -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
    -moz-transition: opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s;
    transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
  }
  .cd-hero-slider li.selected p {
    -webkit-transition: opacity 0.4s 0.3s, -webkit-transform 0.5s 0.3s;
    -moz-transition: opacity 0.4s 0.3s, -moz-transform 0.5s 0.3s;
    transition: opacity 0.4s 0.3s, transform 0.5s 0.3s;
  }
  .cd-hero-slider li.selected .cd-btn {
    -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s, background-color 0.2s 0s;
    -moz-transition: opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s, background-color 0.2s 0s;
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s, background-color 0.2s 0s;
  }
}
/* -------------------------------- 

Slider navigation

-------------------------------- */
.cd-slider-nav {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 2;
  text-align: center;
  height: 55px;
  background-color: rgba(0, 1, 1, 0.5);
}
.cd-slider-nav nav, .cd-slider-nav ul, .cd-slider-nav li, .cd-slider-nav a {
  height: 100%;
}
.cd-slider-nav nav {
  display: inline-block;
  position: relative;
}
.cd-slider-nav .cd-marker {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 100%;
  color: #d44457;
  background-color: #ffffff;
  box-shadow: inset 0 2px 0 currentColor;
  -webkit-transition: -webkit-transform 0.2s, box-shadow 0.2s;
  -moz-transition: -moz-transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
}
.cd-slider-nav .cd-marker.item-2 {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.cd-slider-nav .cd-marker.item-3 {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}
.cd-slider-nav .cd-marker.item-4 {
  -webkit-transform: translateX(300%);
  -moz-transform: translateX(300%);
  -ms-transform: translateX(300%);
  -o-transform: translateX(300%);
  transform: translateX(300%);
}
.cd-slider-nav .cd-marker.item-5 {
  -webkit-transform: translateX(400%);
  -moz-transform: translateX(400%);
  -ms-transform: translateX(400%);
  -o-transform: translateX(400%);
  transform: translateX(400%);
}
.cd-slider-nav ul::after {
  clear: both;
  content: "";
  display: table;
}
.cd-slider-nav li {
  display: inline-block;
  width: 60px;
  float: left;
}
.cd-slider-nav li.selected a {
  color: #2c343b;
}
.no-touch .cd-slider-nav li.selected a:hover {
  background-color: transparent;
}
.cd-slider-nav a {
  display: block;
  position: relative;
  padding-top: 35px;
  font-size: 1rem;
  font-weight: 700;
  color: #a8b4be;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-slider-nav a::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url(cd-icon-navigation.svg) no-repeat 0 0;
}
.no-touch .cd-slider-nav a:hover {
  background-color: rgba(0, 1, 1, 0.5);
}
.cd-slider-nav li:first-of-type a::before {
  background-position: 0 0;
}
.cd-slider-nav li.selected:first-of-type a::before {
  background-position: 0 -24px;
}
.cd-slider-nav li:nth-of-type(2) a::before {
  background-position: -24px 0;
}
.cd-slider-nav li.selected:nth-of-type(2) a::before {
  background-position: -24px -24px;
}
.cd-slider-nav li:nth-of-type(3) a::before {
  background-position: -48px 0;
}
.cd-slider-nav li.selected:nth-of-type(3) a::before {
  background-position: -48px -24px;
}
.cd-slider-nav li:nth-of-type(4) a::before {
  background-position: -72px 0;
}
.cd-slider-nav li.selected:nth-of-type(4) a::before {
  background-position: -72px -24px;
}
.cd-slider-nav li:nth-of-type(5) a::before {
  background-position: -96px 0;
}
.cd-slider-nav li.selected:nth-of-type(5) a::before {
  background-position: -96px -24px;
}
@media only screen and (min-width: 768px) {
  .cd-slider-nav {
    height: 80px;
  }
  .cd-slider-nav .cd-marker,
  .cd-slider-nav li {
    width: 95px;
  }
  .cd-slider-nav a {
    padding-top: 48px;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  .cd-slider-nav a::before {
    top: 18px;
  }
}
